#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

.h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}
body {
  
  background-color: #190019;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  color: #2b124c;
}

sections {
  color: #522b5b;
}
