#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}
body {
  /* background-color: #190019; */
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header, footer {
  color: #2b124c;
}

sections {
  color: #522b5b;
}

.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.canvas {
  position: absolute;
  width: 200vw;
  height: 200vh;
  top: -50vh;
  left: -50vw;
}

.polaroid {
  background-color: white;
  padding: 1rem;
  padding-bottom: 1rem; /* Adjusted padding */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.polaroid-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #333;
  margin-top: 0.5rem;
}

.sticker {
  width: 50px;
  height: 50px;
  background-color: #ffcc00;
  border-radius: 50%;
  position: absolute;
}
