#root {
  max-width: none;

  margin: 0 !important;
  padding: 0;
  position: relative;
  height: 100vh;
  display: grid;
  margin-left: 0%;
  margin-right: 0%;
  
}



body, html {
  height: 100%;
  width: 100%;
  background-color: #7e5d7e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #c589c5;
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: none;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100svh;
}
.page {
  scroll-snap-align: start;
}
.page-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  place-items: center;
  height: 100svh;
}
.card {
  width: clamp(280px, 40vw, 500px);
  height: clamp(100px, 40vh, 350px);
}
h1 {
  font-family: 'Special Gothic Expanded One', cursive;
}
h2 {
  font-family: 'Dancing Script';
}
p {
  font-family: 'indie flower', sans-serif;
}

.navigation {
  color: #ffffff;
  text-decoration: none;
  font-family: "special gothic expanded one", sans-serif;
  margin: 1 1rem;
}
li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f4d8f5;
  transition: width .3s;
}
li:hover::after {
  width: 100%;
  transition: width .3s;
}
.webtitle {
  color: #fbf7fc;;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 1rem;
}
.hero {
  background-color: #000000;
  color: #e7e;
  font-family: 'Special Gothic Expanded One', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  font-family: 'Indie Flower', cursive;
  background-color: #82667f8f;
  border-radius: 18px;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 12px;

}
button:hover {
  cursor: pointer;
  background-color: #DD9AC2;
  color: black;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.tsuki {
 font-family: 'Indie Flower', cursive;
  background-color: #82667f8f;
  border-radius: 18px;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 12px;
}

