@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Indie+Flower&family=Quicksand:wght@300..700&family=Special+Gothic+Expanded+One&display=swap');
@import "tailwindcss";
@import "tw-animate-css";



